{% load static %}

<li>
    <article>
        <a href="{% url "post-detail-page" "mountains_overview" %}">
           <img src="{% static "blog/images/donlod.jpeg" %}" alt="Mountain Hiking">
           <div class="post">
              <h3>Mountain Hiking</h3>
              <p>
                There's nothing like the views you get when hiking in the mountains! And I wasn't even prepared for what happend whilst I was enjoying the view!
            </p>
           </div> 
        </a>
    </article>
</li>